/* Style corps page */
body {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right,
      rgba(79, 51, 176, 1),
      rgba(210, 53, 165));
  background-size: cover;
  height: 100vh;
  font-family: sans-serif;
}

/* Style global */
* {
  box-sizing: border-box;
  transition: all 4s ease;
  /* dure de la transition on off */
}

/* Style de la calculatrice */
.calculatrice {
  padding: 20px;
  padding-top: 60px;
  height: auto;
  width: auto;
  max-width: 400px;
  border-radius: 16px;
  background-color: white;
  box-shadow: 0 0 60px black;
  position: relative;
  text-align: center;
}

/* Style input */
input {
  width: 320px;
  border: none;
  padding: 24px;
  margin: 10px;
  margin-bottom: 20px;
  text-align: right;
  background: transparent;
  box-shadow: 0px 2px 10px black;
  font-size: 40px;
  cursor: pointer;
  white-space: nowrap;
  overflow-x: auto;
}

/* Style texte input */
.calculatrice input {
  color: black;
}

/* Style placeholder input */
input::placeholder {
  color: black;
}

/* Style des boutons calculatrice */
button {
  border: none;
  width: 60px;
  height: 60px;
  margin: 10px;
  border-radius: 50%;
  background-color: grey;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: all 200ms ease;
  /* Animation au survol des butons 200milisecondes */
}

/* Animation de survol boutons */
button:hover {
  transform: scale(1.1);
}

/* Style particulier pour le bouton 0 */
.zero {
  width: 144px;
  border-radius: 50px;
}

/* Style buttons operation */
.operation {
  background-color: #ff8c00;
}

/* Style buttons operation1 */
.operation1 {
  background-color: #696969;
}

/* Style du bouton thème blanc */
.thb {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  z-index: 1;
  border-radius: 50%;
}

/* Style du bouton on off */
.thb::before {
  content: "";
  height: 25px;
  width: 25px;
  position: absolute;
  top: 50%;
  background-color: white;
  z-index: -1;
  padding: 1px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-image: url("https://cdn-icons-png.flaticon.com/512/500/500146.png");
  background-size: 30px;
  background-position: center;
}

/* Style pour le mode sombre de la calculatrice */
.calculatrice.dark {
  background-color: #071115;
}

/* Style pour 0 de l'input en mode sombre */
.calculatrice.dark input::placeholder {
  opacity: 0;
  /* Rend le 0 transparent */
}

/* Style pour les boutons en mode sombre */
.calculatrice.dark button {
  background-color: black;
  color: white;
}

/* Style buttons operation1 en mode sombre */
.calculatrice.dark button.operation1 {
  background-color: #4b0082;
  color: white;
}

/* Style buttons operation en mode sombre */
.calculatrice.dark button.operation {
  background-color: #000080;
  color: white;
}

/* Bouton Hexadécimale */
.thbhex {
  position: absolute;
  top: 30px;
  left: 30px;
  cursor: pointer;
  z-index: 1;
  border-radius: 50%;
}

/* Bouton hexadécimale */
.thbhex::before {
  content: "";
  height: 30px;
  width: 30px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url("https://static.thenounproject.com/png/3976693-200.png");
  background-size: 30px;
}

/* Bouton décimal */
.thbdec {
  position: absolute;
  top: 30px;
  left: 60px;
  cursor: pointer;
  z-index: 1;
  border-radius: 50%;
}

/* Bouton décimal */
.thbdec::before {
  content: "";
  height: 30px;
  width: 30px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-image: url("https://cdn.icon-icons.com/icons2/2248/PNG/512/decimal_increase_icon_137693.png");
  background-size: 30px;
}
.pied {
  position: absolute;
  bottom: 0px;
  text-align: center;
}